{% load navigation_tags static wagtailuserbar %}

<!DOCTYPE html>
<html class="no-js" lang="de">
    <head>
        <meta charset="utf-8" />
        <title>
            {% block title %}
                {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
            {% endblock %}
            {% block title_suffix %}
                {% with self.get_site.site_name as site_name %}
                    {% if site_name %}- {{ site_name }}{% endif %}
                {% endwith %}
            {% endblock %}
        </title>
        <meta name="description" content="DevOps Disasters" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

        {# Fonts #}
        <link rel="stylesheet" type="text/css" href="{% static '@openfonts/lato_latin/index.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static '@openfonts/raleway_latin/index.css' %}" />

        {# Global stylesheets #}
        <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'font-awesome/css/font-awesome.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

        {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
        {% endblock %}
    </head>

    <body class="{% block body_class %}{% endblock %}">
        {% wagtailuserbar %}

        {% block header %}
            {# Header contains the main_navigation block #}
            {% include "includes/header.html" with parent=site_root calling_page=self %}
        {% endblock header %}

        {% block headline %}
            {% include "includes/headline.html" %}
        {% endblock headline %}

        {% block content %}{% endblock %}

        {% block footer %}
            {% include "includes/footer.html" %}
        {% endblock %}

        {% block copyright %}
            {% include "includes/copyright.html" %}
        {% endblock %}

        {# Global javascript #}
        <script type="text/javascript" src="{% static 'jquery/dist/jquery.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>

        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
        {% endblock %}
    </body>
</html>
