{% extends "base.html" %}

{% load wagtailcore_tags %}

{% block body_class %}template-failedpage{% endblock %}

{% block content %}
<div class="col-lg-8">
  {% if page.quote %}
  <h3 class="ctitle"><i>"{{ page.quote }}"</i></h3>
  {% endif %}
  <p>
    <csmall>Veröffentlicht: {{ page.first_published_at }}</csmall> |
    <csmall2>Von: {{ page.owner }}</csmall>
  </p>

  {% include_block page.fail %}

  <div class="spacing"></div>
  <h3>Lessons learned?</h3>
  <div class="hline"></div>
  {{ page.lessons_learned|richtext }}
</div>
{% endblock %}
