{% extends "base.html" %}

{% load wagtailcore_tags %}

{% block body_class %}template-failedpage{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-8">
      {% if page.quote %}
      <h3 class="ctitle"><i>"{{ page.quote }}"</i></h3>
      {% endif %}
      <p>
        <csmall>Veröffentlicht: {{ page.first_published_at }}</csmall> |
        <csmall2>Von: {{ page.owner }}</csmall>
      </p>

      {% include_block page.fail %}

      <div class="spacing"></div>
      <h3>Lessons learned?</h3>
      <div class="hline"></div>
      {{ page.lessons_learned|richtext }}
    </div>
    <div class="col-md-4">
      <h4>Kategorien</h4>
      <div class="hline"></div>
      {% for category in page.categories.all %}
      <p><i class="fa fa-angle-right"></i> {{ category.name }}</p>
      {% endfor %}
    </div>
    <div class="col-md-4">
      <h4>Neuste Fails</h4>
      <div class="hline"></div>
      {% for fail in recent_fails %}
      <p><a href="{% pageurl fail %}"><i class="fa fa-angle-right"></i> {{ fail.title }}</a></p>
      {% endfor %}
    </div>
  </div>
</div>
<div class="spacing"></div>
{% endblock %}
